/* Custom CSS */
html,body{
	font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    height: 100%;
}
#top{
	height: 100px;
}
#cover{
    background-color: #1f8efd;
    padding: 30px 0;
    box-shadow: 0 -1px 1px #d9d9d9;
    h3{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.42);
        font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
        margin-bottom: 20px;
    }
    p{
        color: white;
        text-indent: 2em;
        text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.42);
        font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    }
    ul{
        list-style: inside circle;
        padding-left: 10px;
        li{
            padding-left: 10px;
            line-height: 33px;
            border-bottom: 1px dashed rgb(101, 101, 101);
            a{
                color: #272525;
            }
            a:hover{
                color: white;
                text-decoration: none;
                text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.42);
            }
        }
    }
}
#searchBar{
    background-color: #F5F5F5;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding: 10px 0;
    input{
        width: 260px;
    }
    span{
        font-size: 12px;
        margin-right: 16px;
    }
}
#mainContent{
    margin-bottom: 40px;
    h3{
        font-size: 20px;
        font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.41);
    }
    .boxList{
        line-height: 26px;
    }
    #latestList {
        box-shadow: -1px -1px 2px #d9d9d9;
        ol{
            li{
                line-height: 30px;
                border-bottom: 1px dashed #afafaf;
                margin-bottom: 8px;
            }
        }
    }
    div.more{
        float: right;
        font-size: 18px;
        margin-top: 6px;
    }
    #hardware{
        .uk-active{
            a{
                color: #0080ff;
                font-weight: bold;
            }
        }
        ul#hdTitle{
            height: 100%;
        }
        #hdContent{
            border: 1px solid #ddd;
//            border-right: 1px solid #ddd;    
//            border-bottom: 1px solid #ddd;
            ul#hdList{
                ul.pShow{
                    list-style: none;
                    padding-left: 0;
                    li{
                        text-align: center;
                        margin: 10px 0;
                        padding: 8px 0;
                        width: 190px;
                        border: 1px dashed #dddddd;
                        p{
                            margin: 0;
                            font-size: 12px;
                        }
                        p.hdPrice{
                            color: crimson;
                            font-weight: bold;
                        }
                    }
                    a{
                        color: #555555;
                        font-weight: normal;
                        display: block;
                        width: 191px;
                    }
                    a:hover{
                        font-weight: bold;
                        text-decoration: none;
                        background-color: #fcfcfc;
                    }
                }
                ol{
                    padding-left: 0;
                    padding-right: 6px;
                    padding-top: 10px;
                    li{
                        font-size: 12px;
                        line-height: 24px;
                        margin-bottom: 12px;
                        border-bottom: 1px dashed #dddddd;
                        a{
                            color: #2c2c2c;
                            font-weight: normal;
                        }
                        a:hover{
                            color: #bc471c;
                            text-decoration: none;
                        }
                    }
                    div{
                        width: 180px;
                        text-align: center;
                        margin-bottom: 16px;
                    }
                }
            }
        }
        
    }
    
    .sManB{
        border: 1px solid #dddddd;
        border-radius: 3px;
        padding: 3px;
    }
    .sMan{
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        display: block;
        height: 100px;
        line-height: 100px;
        
    }
    a.sMan:hover{
        text-decoration: none;
        color: #ffe58e;
    }
    #ssh{
        background-color: #8442bc;
    }
    #ftp{
        background-color: #1634b4;
    }
    #rsync{
        background-color: #3ebc87;
    }
    #iscsi{
        background-color: #e25d5d;
    }
    #webdav{
        background-color: #3e82ef;
    }
    #ddns{
        background-color: #e5b022;
    }
    #tftp{
        background-color: #e52020;
    }
    #ups{
        background-color: #3ae347;
    }
}
#coop{
    background: none repeat scroll 0% 0% #2D2E2F;
    border-bottom: 1px solid #111;
    color: #FFF;
    text-shadow: 1px 1px 1px #231D1D;
    padding: 28px 0 10px 0;
    button{
        margin-bottom: 10px;
    }
    ul.friends{
        list-style: none;
        padding: 0 1em;
        margin-top: 10px;
        line-height: 26px;
        li{
            float: left;
            margin-right: 26px;
            font-size: 12px;
            a{
                color: #a7a7a7;
            }
            img{
                height: 40px;
                margin-bottom: 28px;
            }
        }
    }
    
}
#copyright{
    border-top: 1px solid #464646;
    background: none repeat scroll 0% 0% #28292A;
    color: #acacac;
    font-size: 13px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 26px 0;
    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 10px;
        text-align: center;
        li{
            display: inline;
            margin-right: 20px;
            a{
                color: #fff;
            }
        }
    }
    p{
        font-size: 12px;
    }
}

/* category */
#cateContent{
    background-color: #FBFAF8;
    box-shadow: 0 -1px 1px #d9d9d9;
    #subNav{
        margin-top: 16px;
        margin-bottom: -10px;
        .sep{
            margin: 0 8px;
        }
        a:hover{
            color: cornflowerblue;
            text-decoration: none;
        }
    }
    h3{
        font-size: 20px;
        font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.41);
    }
    #left{
        ul#list{
           list-style: none;
           padding: 0 20px;
           li{
               margin: 28px 0;
               padding-bottom: 28px;
               border-bottom: 1px dashed #dddddd;
           }
           h3{
               font-size: 22px;
               text-shadow: none;
               color: #38485A;
           }
           h3:hover{
               color: #1c7ab5;
           }
           p{
               font-size: 16px;
           }
           span{
               font-size: 12px;
               margin-right: 18px;
           }
        }
        a:hover{
            text-decoration: none;
        }
        #pages{
            padding: 0 20px;
        }
    }
    #right{
        
    }
}

/* 样式重置 */
.uk-tab-left {
    border-right: none;
}
.uk-icon-paypal{
    color: #f2e00b;
}
.uk-thumbnail{
    border-radius: 3px;
}
.uk-overlay-area{
    border-radius: 3px;
}

