/* Custom CSS */
html,
body {
  font: 14px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  height: 100%;
}
#top {
  height: 100px;
}
#cover {
  background-color: #1f8efd;
  padding: 30px 0;
  box-shadow: 0 -1px 1px #d9d9d9;
}
#cover h3 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.42);
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  margin-bottom: 20px;
}
#cover p {
  color: white;
  text-indent: 2em;
  text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.42);
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
#cover ul {
  list-style: inside circle;
  padding-left: 10px;
}
#cover ul li {
  padding-left: 10px;
  line-height: 33px;
  border-bottom: 1px dashed #656565;
}
#cover ul li a {
  color: #272525;
}
#cover ul li a:hover {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(45, 45, 45, 0.42);
}
#searchBar {
  background-color: #F5F5F5;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 10px 0;
}
#searchBar input {
  width: 260px;
}
#searchBar span {
  font-size: 12px;
  margin-right: 16px;
}
#mainContent {
  margin-bottom: 40px;
}
#mainContent h3 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.41);
}
#mainContent .boxList {
  line-height: 26px;
}
#mainContent #latestList {
  box-shadow: -1px -1px 2px #d9d9d9;
}
#mainContent #latestList ol li {
  line-height: 30px;
  border-bottom: 1px dashed #afafaf;
  margin-bottom: 8px;
}
#mainContent div.more {
  float: right;
  font-size: 18px;
  margin-top: 6px;
}
#mainContent #hardware .uk-active a {
  color: #0080ff;
  font-weight: bold;
}
#mainContent #hardware ul#hdTitle {
  height: 100%;
}
#mainContent #hardware #hdContent {
  border: 1px solid #ddd;
}
#mainContent #hardware #hdContent ul#hdList ul.pShow {
  list-style: none;
  padding-left: 0;
}
#mainContent #hardware #hdContent ul#hdList ul.pShow li {
  text-align: center;
  margin: 10px 0;
  padding: 8px 0;
  width: 190px;
  border: 1px dashed #dddddd;
}
#mainContent #hardware #hdContent ul#hdList ul.pShow li p {
  margin: 0;
  font-size: 12px;
}
#mainContent #hardware #hdContent ul#hdList ul.pShow li p.hdPrice {
  color: crimson;
  font-weight: bold;
}
#mainContent #hardware #hdContent ul#hdList ul.pShow a {
  color: #555555;
  font-weight: normal;
  display: block;
  width: 191px;
}
#mainContent #hardware #hdContent ul#hdList ul.pShow a:hover {
  font-weight: bold;
  text-decoration: none;
  background-color: #fcfcfc;
}
#mainContent #hardware #hdContent ul#hdList ol {
  padding-left: 0;
  padding-right: 6px;
  padding-top: 10px;
}
#mainContent #hardware #hdContent ul#hdList ol li {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 12px;
  border-bottom: 1px dashed #dddddd;
}
#mainContent #hardware #hdContent ul#hdList ol li a {
  color: #2c2c2c;
  font-weight: normal;
}
#mainContent #hardware #hdContent ul#hdList ol li a:hover {
  color: #bc471c;
  text-decoration: none;
}
#mainContent #hardware #hdContent ul#hdList ol div {
  width: 180px;
  text-align: center;
  margin-bottom: 16px;
}
#mainContent .sManB {
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 3px;
}
#mainContent .sMan {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  height: 100px;
  line-height: 100px;
}
#mainContent a.sMan:hover {
  text-decoration: none;
  color: #ffe58e;
}
#mainContent #ssh {
  background-color: #8442bc;
}
#mainContent #ftp {
  background-color: #1634b4;
}
#mainContent #rsync {
  background-color: #3ebc87;
}
#mainContent #iscsi {
  background-color: #e25d5d;
}
#mainContent #webdav {
  background-color: #3e82ef;
}
#mainContent #ddns {
  background-color: #e5b022;
}
#mainContent #tftp {
  background-color: #e52020;
}
#mainContent #ups {
  background-color: #3ae347;
}
#coop {
  background: none repeat scroll 0% 0% #2D2E2F;
  border-bottom: 1px solid #111;
  color: #FFF;
  text-shadow: 1px 1px 1px #231D1D;
  padding: 28px 0 10px 0;
}
#coop button {
  margin-bottom: 10px;
}
#coop ul.friends {
  list-style: none;
  padding: 0 1em;
  margin-top: 10px;
  line-height: 26px;
}
#coop ul.friends li {
  float: left;
  margin-right: 26px;
  font-size: 12px;
}
#coop ul.friends li a {
  color: #a7a7a7;
}
#coop ul.friends li img {
  height: 40px;
  margin-bottom: 28px;
}
#copyright {
  border-top: 1px solid #464646;
  background: none repeat scroll 0% 0% #28292A;
  color: #acacac;
  font-size: 13px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 26px 0;
}
#copyright ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
  text-align: center;
}
#copyright ul li {
  display: inline;
  margin-right: 20px;
}
#copyright ul li a {
  color: #fff;
}
#copyright p {
  font-size: 12px;
}
/* category */
#cateContent {
  background-color: #FBFAF8;
  box-shadow: 0 -1px 1px #d9d9d9;
}
#cateContent #subNav {
  margin-top: 16px;
  margin-bottom: -10px;
}
#cateContent #subNav .sep {
  margin: 0 8px;
}
#cateContent #subNav a:hover {
  color: cornflowerblue;
  text-decoration: none;
}
#cateContent h3 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.41);
}
#cateContent #left ul#list {
  list-style: none;
  padding: 0 20px;
}
#cateContent #left ul#list li {
  margin: 28px 0;
  padding-bottom: 28px;
  border-bottom: 1px dashed #dddddd;
}
#cateContent #left ul#list h3 {
  font-size: 22px;
  text-shadow: none;
  color: #38485A;
}
#cateContent #left ul#list h3:hover {
  color: #1c7ab5;
}
#cateContent #left ul#list p {
  font-size: 16px;
}
#cateContent #left ul#list span {
  font-size: 12px;
  margin-right: 18px;
}
#cateContent #left a:hover {
  text-decoration: none;
}
#cateContent #left #pages {
  padding: 0 20px;
}
/* 样式重置 */
.uk-tab-left {
  border-right: none;
}
.uk-icon-paypal {
  color: #f2e00b;
}
.uk-thumbnail {
  border-radius: 3px;
}
.uk-overlay-area {
  border-radius: 3px;
}
